footer{
    background-color: blue;
    color: black;
    text-align: center;
    position: relative;
    padding: 10px;
    bottom: 0;
}
nav li {
    list-style: none;
    padding: 1em 0;
  }
   
  nav li a {
    color: white;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
  }
